body {
    background-image: url('https://img.freepik.com/vecteurs-libre/fond-degrade-sombre-espace-copie_53876-99548.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1711152000&semt=ais');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    position: relative;
    right: 40px;
    color: white;
}

.home {
    position: relative;
    top: -50px;
    right: -100px;
    color: white;
    text-decoration: none;
}
.search-container {
    position: relative;
    bottom: -350px; /* Ajuster la valeur pour baisser la barre de recherche */
    right: -100px; /* Vous pouvez ajuster la position horizontale si nécessaire */
    text-align: center; /* Centrer les éléments horizontalement */
}

.search {
    height: 30px;
    width: 500px;
    border-radius: 18px;
    padding: 5px;
    font-size: 16px;
}

.search-btn {
    height: 40px;
    width: 100px;
    border-radius: 18px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #21002c;
    color: white;
    border: none;
    margin-left: 10px;
}

.TV {
    position: relative;
    left: -500px;
    max-width: 100px; /* Définissez la largeur maximale de l'image */
    max-height: 100px; /* Définissez la hauteur maximale de l'image */
    display: block; /* Assurez-vous que l'image est affichée comme un élément de bloc */
    margin: 0 auto; /* Centrez l'image horizontalement */
}

.popular-championship {
    margin-top: 50px;
    text-align: center;
}

.logo {
    height: 200px;
    width: 500px;
}
