/* Styles globaux */
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #000000;
    color: #333;
    transition: background-color 0.3s;
}

body.light-mode {
    background-color: #ffffff;
    color: #333;
}

/* Styles pour la bande de film */
.movie-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: #fff;
    margin-right: 20px;
}

.movie {
    text-align: center;
    flex: 1;
    margin-right: 20px;
}

h2 {
    text-align: center;
    color: #fff;
    background-color: #333;
    padding: 10px;
}

.ducobu {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 10px;
}

.movie img {
    margin: 0 auto 5px;
    display: block;
    width: 100px;
    height: auto;
}

.movie span {
    font-size: 16px;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #ffffff;
    flex: 1;
}

#discord-icon {
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#discord-icon i {
    font-size: 24px;
    margin-right: 5px;
}

input[type="text"] {
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
    align-self: flex-start;
}
.Premium {
    width: 100px;
    height: 100px;
    left: 200px;
}
header a {
    display: inline-block;
    margin: 10px;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #7289da;
    border-radius: 5px;
    font-weight: bold;
}

header a:hover {
    background-color: #2980b9;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

div {
    text-align: center;
    flex: 0 0 calc(33.3333% - 20px);
    background-color: #ff0000;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: box-shadow 0.3s;
}

div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#direct-button {
    display: inline-block;
    margin: 10px;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #39e681;
    border-radius: 5px;
    font-weight: bold;
}

#direct-button:hover {
    background-color: #2ecc71;
}

#music-button {
    display: inline-block;
    margin: 10px;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #1DB954;
    border-radius: 5px;
    font-weight: bold;
}

#music-button:hover {
    background-color: #1DB954;
}

#service-client-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #af3cf7c0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#service-client-button:hover {
    background-color: #d45244;
}

.theme-checkbox {
    --toggle-size: 16px;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}

.theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}

/* Media queries pour différentes tailles d'écran */

/* Styles pour le menu hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.3s;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
}

.menu a {
    margin: 10px 0;
}

/* Media queries pour les petites tailles d'écran */
@media (max-width: 600px) {
    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
        width: 100%;
    }

    .menu.active {
        display: flex;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .movie-banner, .movie, .ducobu, h1, #discord-icon, input[type="text"], header a, div {
        flex-direction: column;
        width: 100%;
        margin-right: 0;
    }

    .movie {
        margin-bottom: 20px;
    }

    .ducobu {
        margin-left: 0;
        width: 100%;
    }

    img {
        width: 80%;
    }

    div {
        flex: 0 0 100%;
    }

    header {
        justify-content: center;
        text-align: center;
    }

    #discord-icon {
        margin: 10px 0;
    }

    input[type="text"] {
        width: 80%;
    }

    header a {
        width: 80%;
        margin: 10px auto;
    }
}
