body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #000000;
    color: #333;
    transition: background-color 0.3s;
}

body.light-mode {
    background-color: #ffffff;
    color: #333;
}
.movie-banner {
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333; /* Couleur de fond de la bande */
    padding: 10px;
    color: #fff; /* Couleur du texte */
}

.movie {
    margin-right: 20px;
    text-align: center;
    flex: 1; /* Pour que chaque film occupe le même espace dans la bande */
}
h2 {
    text-align: center; /* Centrer le titre */
    color: #fff; /* Couleur du texte */
    background-color: #333; /* Couleur de fond */
    padding: 10px; /* Ajouter de l'espace autour du titre */
}

.ducobu {
    width: 150px; /* Largeur de l'image */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    float: left; /* Aligner l'image à gauche */
    margin-right: 10px; /* Marge à droite pour séparer l'image du contenu voisin */
}

.movie img {
    margin-right: 30px;
    width: 100px; /* Ajustez la taille de l'image selon vos besoins */
    height: auto;
    margin-bottom: 5px;
    display: block;
    margin: 0 auto; /* Pour centrer l'image horizontalement */
}

.movie span {
    font-size: 16px; /* Taille de la police */
    font-weight: bold;
}
.ducobu {
    margin-left: 800px;
    margin-right: 10px;
    width: 150px; /* Largeur souhaitée */
    height: auto; /* Hauteur automatique pour maintenir les proportions de l'image */
    float: left; /* Pour aligner l'image à gauche */
    margin-right: 10px; /* Marge à droite pour séparer l'image du contenu voisin */
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #ffffff;
    flex: 1;
}

#discord-icon {
    right: 10px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: left;
    justify-content: flex-end;
}

#discord-icon i {
    font-size: 24px;
    margin-right: 5px;
}

input[type="text"] {
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
    align-self: flex-start;
}

header a {
    display: inline-block;
    margin: 10px;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
    align-items: right;
    color: #fff;
    background-color: #7289da;
    border-radius: 5px;
    font-weight: bold;
}

header a:hover {
    background-color: #2980b9;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

div {
    text-align: center;
    flex: 0 0 calc(33.3333% - 20px);
    background-color: #ff0000;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: box-shadow 0.3s;
}


div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#direct-button {
    display: inline-block;
    margin: 10px;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
    align-items: right;
    color: #fff;
    background-color: #39e681;
    /* Change the background color as needed */
    border-radius: 5px;
    font-weight: bold;
}
/* Style pour la liste déroulante de sélection de langue */
#lang-select {
padding: 8px;
border-radius: 4px;
border: 1px solid #007BFF; /* Couleur de la bordure */
font-size: 16px;
background-color: #fff;
color: #007BFF; /* Couleur du texte */
cursor: pointer;
transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

#lang-select:hover {
border-color: #0056b3; /* Couleur de la bordure au survol */
}

#lang-select:focus {
outline: none; /* Supprime la bordure autour du champ lorsque sélectionné */
}

/* Style pour les options de la liste déroulante */
#lang-select option {
padding: 8px;
font-size: 16px;
background-color: #fff;
color: #333;
}

/* Style pour la flèche déroulante */
#lang-select::-ms-expand {
display: none; /* Masque la flèche déroulante dans IE */
}

/* Style pour la flèche déroulante (pour les autres navigateurs) */
#lang-select::after {
content: '\25BC'; /* Ajoute une flèche vers le bas */
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
pointer-events: none; /* Empêche le clic sur la flèche */
}


#direct-button:hover {
    background-color: #2ecc71;
    /* Change the hover background color as needed */
}

#music-button {
    display: inline-block;
    margin: 10px;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
    align-items: right;
    color: #fff;
    background-color: #1DB954;
    border-radius: 5px;
    font-weight: bold;
}

#music-button:hover {
    background-color: #1DB954;
}

#service-client-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #af3cf7c0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#service-client-button:hover {
    background-color: #d45244;
}


.theme-checkbox {
    --toggle-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}

.theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}
