body {
    background-image: url('https://dims.apnews.com/dims4/default/7fb5c83/2147483647/strip/true/crop/3000x1904+0+0/resize/599x380!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2Fff%2Fa4%2F1a872c9f45644df17c4b8e33fbb1%2F784ece7a110245db97c7f0529e3eae06');
    font-size: cover;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
img {
    width: 300px; /* Réduire la largeur de l'image */
    height: auto; /* Maintenir le ratio hauteur/largeur */
    position: fixed; /* Position fixe par rapport à la fenêtre du navigateur */
    top: -30px; /* Aligner l'image en haut */
    left: -70px; /* Aligner l'image à gauche */
    margin: 20px; /* Ajouter une marge autour de l'image */
}

main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #f32727;
}

p {
    color: #ffffff;
    line-height: 1.6;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

footer p {
    margin: 0;
}

/* Responsive Styles */

@media screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
}

